<div class="container">

  <div class="row align-self-center">
    <div class="col-lg-12">
      <h1>Burgers!</h1>
    </div>
  </div>
    
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 align-self-center">
      <img src="./assets/img/impossible.jpg" alt="Impossible Burger" id="impossible-burger">
    </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row burger align-self-center">
    <div class="burger-wrapper col-lg-6">
      <h2>Burgers to eat</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
              {{>burgers/burger-block}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="burger-wrapper col-lg-6">
      <h2>Burgers that have been devoured</h2>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <li>{{burger_name}}</li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row align-self-center">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 form-div">
      <h2 class="add-burger">Add a Burger</h2>
      <form class= "create-form" id="newBurger">
        <div class="form-group">
          <label for="burger-id">Burger to add:</label>
          <input type="text" name="name" id="burger-id">
        </div>
         <button type="submit" class="submit-btn">Add Burger</button>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>